.go-home {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--rosa);
    border: none;
    box-shadow: inset 0 0 0 3px var(--preto);
    transition: 200ms;
    cursor: pointer;
}

.go-home:hover {
    background-color: var(--marrom);
}

.somaraki {
    width: 300px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .somaraki {
        width: 220px;
    }
}

.menu {
    display: flex;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--marrom);
    box-shadow: inset 0 0 0 4px var(--preto);
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    color: var(--preto);
    user-select: none;
    cursor: pointer;
}

.menu__item:hover {
    background-color: var(--rosa);
    box-shadow: inset 0 0 0 4px var(--preto);
}

.menu__item:first-of-type {
    border-radius: 10px 0 0 10px;
}

.menu__item:last-of-type {
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 400px) {
    .menu__item {
        font-size: 10px;
    }
}

.content {
    margin: 20px auto 0;
}

.content__block {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    cursor: pointer;
}

.content__block:hover .block__header {
    background-color: var(--rosa);
}

.content__block:hover .block__content {
    background-color: #ffdae1;
}

.block__header {
    font-size: 12px;
    padding: 7px 7px 7px 17px;
    border-radius: 10px 10px 0 0;
    color: var(--preto);
    background-color: var(--marrom);
    box-shadow: inset 0 0 0 4px var(--preto);
    transition: 100ms;
}

.block__content {
    height: 100%;
    padding: 17px;
    background-color: var(--branco);
    box-shadow: inset 0 -2px 0 4px var(--preto);
    transition: 100ms;
}

.bolinhas-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/bolinhas.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rosa);
    z-index: -2;
}