<button routerLink="" class="go-home">
  <img src="assets/return.svg" alt="" />
</button>

<img class="somaraki" src="assets/crop-somaraki.png" />

<div class="menu">
  <a class="menu__item">Chibis</a>
  <a class="menu__item">Personagens</a>
  <a class="menu__item">Figurinhas</a>
</div>

<div class="content">
  <div class="content__block">
    <div class="block__header">
      <h1>Cabeça</h1>
    </div>
    <div class="block__content">Testando a descrição da cabeça.</div>
  </div>
</div>

<div class="bolinhas-background"></div>
<div class="background"></div>
