.go-home {
    all: unset;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.go-home img {
    width: 35px;
}

.go-home {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D79487;
    transition: 200ms;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.4);
}

.go-home:hover {
    background-color: var(--rosa);
}

.somarakis {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .somarakis img {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .somarakis img {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    .somarakis img {
        width: 150px;
    }
}

.menu-shadow {
    margin: 4px auto 0;
    width: 80%;
    border-radius: 0 5px 5px 5px;
    box-shadow: 8px 8px 0 10px rgb(233, 255, 255);
}

.menu-true-shadow {
    border-radius: 0 5px 5px 5px;
    box-shadow: 4px 4px 8px 0 black;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border-radius: 0 5px 5px 5px;
    background-color: #D79487;
    box-shadow: 0 0 0 4px black;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    box-shadow: inset 4px 0 0 0 black;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 800px) {
    .menu__item {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .menu__item {
        font-size: 12px;
    }
}

.menu__item:hover {
    background-color: var(--rosa);
}

.bolinhas-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/bolinhas.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content {}

.content__block {
    margin: 40px auto 0;
    width: 80%;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 0 4px black;
}

.block__header {
    height: 50px;
    box-shadow: 0 0 0 4px black;
    background-color: #D79487;
}

.block__header h1 {
    line-height: 50px;
    padding-left: 10px;
    font-size: 22px;
}

.block__content {}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rosa);
    z-index: -2;
}