<button routerLink="" class="go-home">back</button>

<div class="somarakis">
  <img src="assets/crop-somaraki.png" />
  <img src="assets/crop-somaraki.png" />
</div>

<div class="menu-shadow">
  <div class="menu-true-shadow">
    <div class="menu">
      <a class="menu__item">Chibis</a>
      <a class="menu__item">Personagens</a>
      <a class="menu__item">Figurinhas</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content__block">
    <div class="block__header"></div>
    <div class="block__content"></div>
  </div>
</div>

<div class="bolinhas-background"></div>
<div class="background"></div>
